@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

white = #FFFFFF
black = #150823
dark = #220C3A
blue = #587FDF
green = #1AEBC3
purple = #8619F4
pink = #EB1AA4
dark-pink = #9D1870 
light-pink = #FF79D1
dark-purple = #35006C
light-purple = #B57DED

ScreenCondition = 'max-width'
ScreenConditionValue = 1024px

titleBorderBottom()
  content ''
  height 13px
  border-radius 20px
  position absolute

FiraCode()
  font-family 'Fira Code', monospace

FiraSans()
  font-family 'Fira Sans', sans-serif

cardShadow() 
  box-shadow -7px 4px 11px rgba(0, 0, 0, 0.21)

mainGradient()
  background linear-gradient(179.45deg, #8B0DF6 0.47%, #587FDF 51.04%, rgba(27, 251, 207, 0.941176) 99.53%)

font-header()
  FiraCode()
  color white
  font-size 22px
  font-weight 500

*
  padding 0
  margin 0
  box-sizing border-box
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-decoration: none;
  color white
  FiraCode()

h1
  font-size 59px
  font-weight 700

.subtitle
  font-size 20px
  font-weight 500

p, .body
  font-size 26px
  font-weight normal
  FiraSans()
  color white
  padding 10px 0

.blue
  color blue

.green
  color green

.purple
  color purple

.light-pink
  color light-pink

.dark-pink
  color dark-pink

.pink
  color pink

.light-purple
  color light-purple

.row
  padding 164px 120px 165px 0
  display: flex
  gap 59px

body
  background-color dark

@media screen and ({ScreenCondition}: ScreenConditionValue)
  h1
    font-size 26px

  .subtitle, p, body
    font-size 16px

  .row
    justify-content center
    align-items center
    flex-direction column
    padding 100px 10%
