white = #FFFFFF
dark = #35006C
blue = #587FDF
green = #1AEBC3
purple = #8619F4
pink = #EB1AA4
dark-pink = #9D1870
light-pink = #FF79D1
dark-purple = #220C3A
light-purple = #B57DED

cardShadow() 
    box-shadow: -7px 4px 11px rgba(0, 0, 0, 0.21)


mainGradient()
    background: linear-gradient(179.45deg, #8B0DF6 0.47%, #587FDF 51.04%, rgba(27, 251, 207, 0.941176) 99.53%)

*
  padding 0
  margin 0
  box-sizing border-box

body
    background-color dark

#app
  font-family Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

  